params {
    input = ""
    outdir = "./results"
    reference = "${projectDir}/ref/bowtie/hg19"
}

executor {
    name = 'local'  // Run on local machine
    queueSize = 3  // Limit Nextflow to use at most 16GB RAM
}


process {
    withName:fastp {
        container = 'nextflow-pipe'
        cpus   = { 2    * task.attempt }
        memory = { 2.GB * task.attempt }
    }  
    withName:fastqc {
        container = 'nextflow-pipe'
        cpus   = { 2    * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName:bowtie {
        container = 'nextflow-pipe'
        cpus   = { 3    * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName:multiqc {
        container = 'nextflow-pipe'
        cpus   = { 2    * task.attempt }
        memory = { 2.GB * task.attempt }
    }
}   



profiles {
    singularity {
        singularity.enabled     = true
        singularity.pullTimeout = '24h'
        singularity.autoMounts  = true
    }
    slurm {
        executor = 'slurm'
        queue = 'LocalQ'
        errorStrategy = 'retry'
        maxRetries = 3
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}



report {
    overwrite = true
}
timeline {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}