params {
    input = "s3://nextflow_test/data"  // Store input files in S3
    outdir = "s3://nextflow_test/output"  // Output results to S3
    reference = "s3://nextflow_test/bowtie/hg19"
}

profiles {
    awsbatch {
        executor = 'awsbatch'
        queue = 'TowerForge-kSSLASCZjK1RS4uzGXcGq-head'  // <-- Change this to your AWS Batch queue
        container = 'tranthaihuy/nextflow-pipe:latest'  // Your Docker image
        errorStrategy = 'retry'
        maxRetries = 3
    }
}

aws {
    region = 'ap-southeast-2'  // Change to your AWS region
    batchQueue = 'TowerForge-kSSLASCZjK1RS4uzGXcGq-head'  // <-- Change this to match your AWS Batch queue
}

process {
    container = 'tranthaihuy/nextflow-pipe:latest'  // Set Docker image

    withName:fastp {
        cpus = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
    }  
    withName:fastqc {
        cpus = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
    }
    withName:bowtie {
        cpus = { 3 * task.attempt }
        memory = { 6.GB * task.attempt }
    }
    withName:multiqc {
        cpus = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
    }
}
