params {
    input_csv = ""
    outdir = "./results"
    reference = "${projectDir}/reference/bowtie/hg19"
}

executor {
    name = 'local'  // Run on local machine
    queueSize = 8  // Limit Nextflow to use at most 16GB RAM
}


process {
    resourceLimits = [cpus: 24, memory: 288.GB, time: 72.h ]
    withName:fastp {
        container = 'nextflow-nipt-env'
        cpus   = { 2    * task.attempt }
        memory = { 6.GB * task.attempt }
    }  
    withName:fastqc {
        container = 'nextflow-nipt-env'
        cpus   = { 2    * task.attempt }
        memory = { 6.GB * task.attempt }
    }
    withName:bowtie {
        container = 'nextflow-nipt-env'
        cpus   = { 2    * task.attempt }
        memory = { 6.GB * task.attempt }
    }
    withName:multiqc {
        container = 'nextflow-nipt-env'
        cpus   = { 2    * task.attempt }
        memory = { 6.GB * task.attempt }
    }
}   



profiles {
    singularity {
        singularity.enabled     = true
        singularity.pullTimeout = '24h'
        singularity.autoMounts  = true
    }
    slurm {
        executor {
            name = 'slurm'
            queueSize = 20
        }
        queue = 'LocalQ'
        errorStrategy = 'retry'
        maxRetries = 3
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}



report {
    overwrite = true
}
timeline {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}